.how-it-works-top-text {
  text-align: center;
  margin-bottom: 40px; /* Space between top text and container */
}

.heading {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 75px;
  text-align: center;
}

.paragraph {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto; /* Center the paragraph */
}

/* Main container and section content */
.how-it-works-new-container {
  background: #f4f4f4; 
  color: black; 
}

.how-it-works-new-section-content {
  width: 100%;
  max-width: 1354px;
  height: auto;
  border-radius: 30px;
  background-color: #B1AFD1; /* Background for the new content */
  padding: 20px;
  position: relative;
  margin: 0 auto;
}

.custom-heading {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
}

.custom-paragraph {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
  line-height: 24px;
}

.how-it-works-box-style {
  width: 100px;
  height: 66px;
  border-radius: 30px;
  border: 2px solid lightgrey;
  text-align: center;
  line-height: 46px;
  margin: 0 auto 20px;
  font-size: 20px;
  font-weight: bold;
}

.custom-button {
  height: 55px;
  width: 190px;
  display: block;
  margin: 0 auto;
  font-size: 16px;
}

.img{
  width: 100%;
  max-width: 354px;
  height: auto;
  border-radius: 20px;
  margin-bottom: 20px; 
}

@media (max-width: 1100px){

  .custom-heading {
    font-size: 30px;
    line-height: 40px;
  }

  .custom-paragraph {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 770px){
    .how-it-works-new-section-content {
    display: flex;
    flex-direction: column; 
  }

  .custom-heading,
  .custom-paragraph {
    text-align: center; 
  }

  .how-it-works-img-col {
    order: 2; 
    margin: 0 auto; 
  }
}

@media (max-width: 500px) {

  .custom-heading {
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 10px;
  }

  .custom-paragraph {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
  }

  .custom-button {
    width: 150px;
    height: 40px;
    padding: 10px 0;
    border-radius: 8px;
    font-size: 12px;
  }

  .how-it-works-box-style {
    width: 80px;
    height: 50px;
    font-size: 16px;
    line-height: 30px;
  }

  .img-fluid .img {
    max-width: 200px;
    height: auto;
    margin-top: 10px; 
  }
}
