.how-it-works-reversed-container {
  background: #f4f4f4; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}




.section-content {
  background: #87BB8A; 
  max-width: 1354px; 
  margin: 0 auto;
  padding: 20px;
  border-radius: 30px;
}

.box-style {
  width: 100px;
  height: 66px;
  padding: 10px;
  border-radius: 30px;
  border: 2px solid lightgrey;
  text-align: center;
  line-height: 46px;
  margin: 0 auto 20px;
  font-size: 20px;
  font-weight: bold;
}

.custom-heading {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 75px;
  text-align: center;
  margin-bottom: 20px;
}

.custom-paragraph {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
  line-height: 24px;
}

.custom-button {
  height: 55px;
  width: 190px;
  display: block;
  margin: 0 auto;
}

/* Media Queries */
@media (max-width: 1050px) {
  .custom-heading {
    font-size: 35px;
    line-height: 60px;
  }

  .custom-paragraph {
    font-size: 16px;
    line-height: 24px;
  }

  .box-style {
    width: 80px;
    height: 56px;
    font-size: 18px;
    line-height: 36px;
  }
}

@media (max-width: 450px) {
  .custom-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center;
  }

  .custom-paragraph {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
    text-align: center;
  }

  .custom-button {
    width: 120px;
    height: 40px;
    padding: 10px 0;
    border-radius: 8px;
    font-size: 12px;
  }

  .img .img-fluid {
    width: 214px;
    height: 401px;
    border-radius: 10px 0 0 0;
  }

  .box-style {
    width: 70px;
    height: 50px;
    font-size: 16px;
    line-height: 30px;
  }
}
